body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.app-container {
  
    margin: 0 auto;
    background-color: #f4f8f9;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    background-color: #001c60;
    color: #fff;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    border: 2px solid #00e99f;
}

.header h2 {
    font-size: 18px;
    margin: 0;
}

.header p {
    font-size: 12px;
    margin: 0;
    color: #d9d9d9;
}

.logo-brasil {
    height: 35px;
}

.profile-data {
    padding: 20px;
    flex: 1;
}

.profile-data h3 {
    margin-top: 0;
    color: #001c60;
}

.info-item {
    background: #ffffff;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.info-item strong {
    color: #333;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.info-item span {
    color: #555;
    font-size: 14px;
}
