@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Archivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #101010;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.app-container {
 
    margin: 0 auto;
    background-color: #f4f8f9;
    border-radius: 20px;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    background-color: #001c60;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    border: 2px solid #00e99f;
}

.header h2 {
    font-size: 18px;
    margin: 0;
}

.header p {
    font-size: 12px;
    margin: 0;
    color: #d9d9d9;
}

.logo-brasil {
    height: 35px;
}

.agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8.0rem;
}

.agende {
        background-color: #ffffff;
        width: 32rem;
        height: 38rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3rem;
        border: 1px dashed #05269B;
        
}

.agende h2{
    font-family: 'Open Sans';
    font-size: 2rem;
    color: #001c60;
}

.h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 1.5rem;
    color: #001c60;
    width: 30rem;
}

input {
    border-radius: 2rem;
    border: none;
    height: 3rem;
    padding-left: 1rem;
    background-color: #E7E7E7;
}

button {
    border: none;
    background-color: #05269B;
    color: #64e4a4;
    height: 3rem;
    width: 10rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 5rem;
    cursor: pointer;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

